interface {{ intf_name }}
 description ***Generated Interface Configuration connecting to {{ dev_name }}
 switchport mode access
 switchport access vlan {{ vlan }}
 spanning-tree portfast
 no shutdown
